*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

body{
    width: 100%;
    height: 75vh;
    display: grid;
    place-items: center;
    background-color:#7B2525;
}

div.container{
    background-color: white;
    border-radius: 25px;
    padding: 76px;
}

div.container{
    background-color: white;
    font-size: 20px;
    height: 75vh;
    width: 30%;
    color: rgb(0,0,0);
}

div.container form{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

nav {
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
  
.brand {
    width: 30%;
    font-size: 24px;
    cursor: pointer;
}
  
nav ul {
    display: flex;
    flex-direction: row;
}
  
nav ul {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
  
nav ul a {
    padding: 5px;
    color: white;
    text-decoration: none;
}
  
nav ul a:hover {
    color: #b3b3b3;
}
  
nav ul button {
    border: 2px solid white;
    background: transparent;
    padding: 10px 39px;
    cursor: pointer;
    margin-left: -5px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}
  
nav ul button:hover {
    transition: background, color 0.6s;
    background: white;
    color: #7B2525;
}
     
div.container div.button input {
    border: 2px solid rgb(0, 0, 0);
    background: rgb(180, 180, 180);
    padding: 10px 39px;
    cursor: pointer;
    margin-left: 92px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 8px;
}
  
div.container div.button input:hover {
    transition: background 0.3s, color 0.5s;
    background: rgb(110, 110, 110);
    color: white;
}

p strong {
    color:white;
}

div.container a {
    font-size: 75%;
    margin: 0 101px;
    color: blue;
    cursor: pointer;
}

div.container a:hover {
    transition: background, color 0.1s;
    color: rgb(78, 0, 180);
}

.value input{
    width: 19rem;
    height: 30px;
    margin: 10px;
    padding-left: 10px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #000;
}

div.container form 
input::-webkit-inner-spin-button{
    display: none;
}

div.container div{
    width: 100%;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 764px){

    div.container{
        width: 100%;
        border-radius: 0;
        font-size: 16px;
    }

    div.container form input{
        font-size: 12px;
        max-width: 60px;
    }

    div.container div button{
        font-size: 12px;
    }
}

